.Dictionary section {
  background: #898f85;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #333;
}
